.social_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 32px;
    row-gap: 16px;
}

%icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
    height: 48px;
    width: 48px;

    &:hover {
        opacity: 0.7;
    }
}

.telegram {
    @extend %icon;

    background-image: url('/images/telegram.png');
}

.instagram {
    @extend %icon;

    background-image: url('/images/instagram.svg');
}

.mail {
    @extend %icon;

    background-image: url('/images/mail.png');
}

.github {
    @extend %icon;

    background-image: url('/images/github.svg');
}