.update_message {
  position: fixed;
  bottom: 12px;
  right: 32px;
  padding-top: 6px;
  background: #e1f6e3;
  width: max-content;
  padding-bottom: 6px;
  font-weight: 600;
  color: #425d46;
  display: none;
  justify-content: center;
  border: 1px solid #a4e1ad;
  grid-column-gap: 4px;
  column-gap: 4px;
  z-index: 9;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px 6px 6px 6px;
  transition: visibility 0s, opacity 1s linear;
  box-shadow: 0px 3px 3px #bcbcbc;

  @media (max-width: 576px) { 
      width: 100%;
      right: 0px;
      bottom: 0px;
      opacity: 0.8;
      border-left: 0px;
      border-right: 0px;
      border-radius: 0px;
  }
}

.update_message.visible {
  display: flex;
}

.update_message_link {
  color: #425d46;
  text-decoration: underline;
}

.update_message_link:hover,
.update_message_link:active {
  color: #587b5d;
}
