.hint {
    font-size: 12px;
    opacity: 0.8;
    line-height: 14px;
    margin-top: 4px;
    padding-bottom: 8px;
}

.li {
    margin-top: 6px;
}

.ul {
    padding-left: 16px;
    margin-top: 0px;
}